.menu-opciones{
  text-align: center;
}

.thumbnail .glyphicon{
    font-size: 75px;
}
.thumbnail .fa{
    font-size: 75px;
}


.thumbnail {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  width: 300px;
}

.thumbnail:hover {
  background-color: #214F77;
  border: 1px solid #214F77;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.bg-primary{
  color: #ffffff;
  background-color: #214F77;
}

.controles{
  position: relative;
  margin-bottom: 40px;
}

.label-prevent {
  background-color: #F8D244;
}

.alert-success a{
  text-decoration: none;
  background-color: #337ab7;
}